
<!DOCTYPE html>
<html lang="en">
<head>
</head>

    <body>

    <h1>Brands for {{category.name}} </h1>
    <a href= '{{url_for('showCategories')}}'>See all Categories</a></br></br>

    <a href="{{url_for('newBrand', category_id = category.id, category = category)}}">
    	<button class="btn btn-default" id="new_brand">
    	<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Add new brand
    	</button>
    </a>




    {% for i in brands %}

    <div>
    </br>

    <h2>{{i.brand}}</h2>

    <p>{{i.description}}</p>


    <a href= '{{url_for('editBrand', category_id = category.id, brand_id = i.id, brand = i)}}'>Edit</a>

    </br>
    <a href = '#'>Delete</a>
    </br>
    </br>
    {% endfor %}

    </body>
</html>
