
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename = 'styles.css')}}">
</head>

<body>

	{%if 'username' not in session %}
		<p align="right"><a href="{{url_for('showLogin')}}">Click Here to Login </a></p>
	{% else %}
		<p align="right"><a href="{{url_for('gdisconnect')}}">Logout </a></p>
	{% endif %}


<h1>All Categories</h1>

</br>
<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>
</br>

	{% for i in categories %}
	<div>

	<h2>{{i.name}}</h2>


	<a href= '{{url_for('showBrands', category_id = i.id)}}'>See Brands</a></br>


	</br>
	</br>

	</div>

	{% endfor %}

</body>
