
<!DOCTYPE html>
<html lang="en">
<head>
</head>

<body>

<h1>All Categories</h1>

{%if 'username' not in session %}
	<a href="{{url_for('showLogin')}}">Click Here to Login </a>
{% else %}
	<a href="{{url_for('gdisconnect')}}">Logout </a>
{% endif %}

</br>
</br>

<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}

        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>


<a href="{{url_for('newCategory')}}">
	<button class="btn btn-default" id="new-catolog">
	<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Add catolog
	</button>
</a>


	{% for i in categories %}
	<div>

	<h2>{{i.name}}</h2>


	<a href= '{{url_for('showBrands', category_id = i.id)}}'>See Brands</a></br>


	{% if i.user_id == user_id %}

		<a href= '{{url_for('editCategory', category_id = i.id)}}'>Edit</a></br>

		<a href= '{{url_for('deleteCategory', category_id = i.id)}}'>Delete</a></br>
	{% endif %}

	</br>
	</br>

	</div>

	{% endfor %}

</body>
