<!DOCTYPE html>
<html lang="en">
<head>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename = 'styles.css')}}">
  </head>
    <body>
    <form action= "#" method = 'POST'>

    <h2>Are you sure you want to delete {{category.name}} ?</h2></br>

    <button class="btn_del" id="delete-category">
  	<span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>delete category
  	</button>
    </br>
    </br>
    </form>
    <a href= '{{url_for('showCategories')}}'>Cancel</a>

    </body>
</html>
