<!DOCTYPE html>
<html lang="en">
<head>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename = 'styles.css')}}">
  </head>
    <body>
    <form action= "#" method = 'POST'>

    <h2>Edit Category:</h2></br>
    <input type = 'text' size='30' name = 'name' placeholder = '{{category.name}}'>

    <button type="submit" class="btn btn-default" id="edit_category" type="submit">
    <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>Edit</button></br></br>

    </form>
    <a href= '{{url_for('showCategories')}}'>Cancel</a>

    </body>
</html>
